In [1]:
# Importing the required libraries
import io
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
# the plot will be visible in jupyter only insted of separate window
import seaborn as sns

In [8]:
# Reading the zomato.csv dataset
df = pd.read_csv('D:\\final internship projects with deployment-FSDSM\\RestaurantRatingPrediction\\notebooks\\data\\NEW_ZOMATO.csv')

In [9]:
df.head(2)

,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),listed_in(type)
0,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet
1,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet

In [10]:
df.shape

(51717, 9)

# handling rate

In [11]:
def handle_rate_column(df, column_name="rate"):
    
    df[column_name] = df[column_name].apply(lambda value: np.nan if value in ["NEW", "-"] else float(str(value).split("/")[0]))
    
    # Replacing null values with the mean
    df[column_name].fillna(df[column_name].mean(), inplace=True)

In [12]:
# Call the function with your DataFrame
handle_rate_column(df)

# threshold for categorical values

In [13]:
def handle_categorical_columns(data, column_thresholds):  
    for column_name, threshold in column_thresholds.items():
        column_count = data[column_name].value_counts()
        categories_below_threshold = column_count[column_count < threshold].index
        data[column_name] = np.where(data[column_name].isin(categories_below_threshold), 'others', data[column_name])
        print(f"Updated column '{column_name}' with threshold {threshold}")

In [14]:
# Handle categorical columns
column_thresholds = {"rest_type": 1000, "cuisines": 300, "location": 500}
handle_categorical_columns(df, column_thresholds)

Updated column 'rest_type' with threshold 1000
Updated column 'cuisines' with threshold 300
Updated column 'location' with threshold 500

In [ ]:
# Creating a csv file for further process
df.to_csv("EDA_FE.csv",index=False)